
footer{
    padding: 0 5rem;
    @media only screen and (max-width: $phone-landscape){
        padding: 0 2rem;
    }

 

    .site-info{
        display: flex;
        align-items: center;
        font-size: $standard;
        @media only screen and (max-width: $tablet-landscape){
            justify-content: center;
        
        }

        img{
            max-width: 50px;
            margin-right: 1rem;
        }
        p{
            margin-bottom: 0;
            margin-top: 0;
            @include text;
            font-family: $tiny;
            @media only screen and (max-width: $phone-landscape){
                text-align: center;
                font-size: 10px;
                
            }

        
        }
    }
}